/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Configuração base para o corpo da página */
body {
    height: 100vh;
    width: 100vw;
    display: flex; /* Cria o layout lado a lado */
    overflow: hidden; /* Remove barras de rolagem */
}